/*Main variable*/
:root {
    scroll-behavior: smooth;

    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Open Sans', sans-serif;

    --dark: #343a40;
    --danger: #dc3545;
    /*--dark-danger: #be2e3c; !* **||*|| Change It In Code ||*||** *! */
    --white: #fff;
    --white-smoke: #eee;
    --gray: #868e96;

    --footer-color: #cad2e1;
    --footer-color-bg: #333;
}

/*Global Style*/
.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/*Start Header Section*/
header a {
    -webkit-transition: color ease-in-out 400ms;
    -moz-transition: color ease-in-out 400ms;
    -o-transition: color ease-in-out 400ms;
    transition: color ease-in-out 400ms;
}

body > header {
    font-size: 12px;
    padding: .5rem 0;
    background: #f2f2f2;
    color: #737373;
}

header a:hover {
    color: black;
}

header .register a:not(:last-child):after {
    content: '|';
    margin: auto 10px;
}

/*End Header Section*/

/*Start NavBar Section*/
.navbar-brand {
    font-weight: bold;
}

.navbar li {
    padding-left: 15px
}

/*End NavBar Section*/

/*Start Header Section*/
.header {
    position: relative;
    z-index: 0;
    /* background img inside header.php page */
    color: #fff;
    padding: 0;
}

.header:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 19, 20, 0.6);
}

.header p,
.header h1,
.header button {
    font-family: var(--main-font);
    text-transform: uppercase;
}

.header p {
    font-size: 15px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 200px;
}

.header h1 {
    margin-top: 31px;
    font-size: 42px;
    color: #ffffff;
    line-height: 48px;
    letter-spacing: 4px;
}

.header hr {
    width: 75px;
    height: 1px;
    margin: 31px auto;
    background: #fff;
}

.header button {
    cursor: pointer;
    background: transparent;
    color: #fff;
    padding: 10px 35px;
    margin-bottom: 200px;
    border: 3px solid #fff;
}

/*End Header Section*/

/*Start Services Section*/
.services {
    padding-top: 50px;
}

.services .s-card {
    padding-bottom: 50px;
}

.services .s-card-title {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--dark);
    letter-spacing: 2px;
    line-height: 24px;
    margin: 20px 0;
    text-transform: uppercase;
}

.services .s-card-text {
    font-family: var(--second-font);
    font-size: 13px;
    font-weight: 400;
    color: var(--gray);
    line-height: 24px;
}

/*End Services Section*/

/*Start About Us Section*/
.about-us {
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--white-smoke);
    background-color: var(--dark);
}

.about-us h2 {
    font-family: var(--main-font);
    font-size: 34px;
    font-weight: 400;
    color: var(--danger);
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-us p:first-of-type {
    margin: 22px 0;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

.about-us hr {
    /*background-color: #1cbac8;*/
    background-color: var(--danger);
    height: 1px;
    width: 75px;
}

.about-us p:last-of-type {
    font-family: var(--second-font);
    font-size: 16px;
    font-weight: 400;
    /*color: #8f96a1;*/
    line-height: 24px;
}

/*End About Us Section*/

/*Start Opening Hour Section*/
.open-hours {
    padding-top: 60px;
    padding-bottom: 60px;
    /*color: #f4f4f4;*/
    /*background-color: #000;*/
}

.open-hours h2 {
    font-family: var(--main-font);
    font-size: 34px;
    font-weight: 400;
    color: var(--dark);
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.open-hours p {
    /*text-align: left;*/
    /*margin: 55px 0 40px;*/
    font-family: var(--second-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
    line-height: 24px;
}

/*End Opening Hour Section*/

/*Start What-Customer-Say Section*/
.what-say {
    background: var(--dark);
    padding-top: 75px;
}

.what-say h2 {
    font-family: var(--main-font);
    font-size: 34px;
    font-weight: 400;
    color: var(--danger);
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 55px;
}

.what-say .testimonial {
    margin: 0 20px 40px;
}

.what-say .testimonial .testimonial-content {
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: var(--white);
    position: relative;
}

.what-say .testimonial .testimonial-content:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 15px solid #718076;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.what-say .testimonial .testimonial-content:after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0;
    border-top: 15px solid #718076;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.what-say .testimonial-content .testimonial-icon {
    width: 50px;
    height: 45px;
    background: var(--danger);
    text-align: center;
    font-size: 22px;
    color: var(--white);
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}

.what-say .testimonial-content .testimonial-icon-stars {
    top: 82px;
    font-size: 21px;
    background: var(--yellow);
    padding-left: 4px;

    width: 50px;
    height: 45px;
    text-align: center;
    color: var(--white);
    line-height: 42px;
    position: absolute;
    left: -19px;
}

.what-say .testimonial-content .testimonial-icon:before {
    content: "";
    border-bottom: 16px solid #be2e3c;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}

.what-say .testimonial .description {
    font-size: 15px;
    font-style: italic;
    color: var(--gray);
    line-height: 23px;
    margin: 0;
    min-height: 86px;
}

.what-say .testimonial .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: var(--white-smoke);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.what-say .testimonial .post {
    display: block;
    font-size: 14px;
    color: var(--danger);
}

.what-say .owl-theme .owl-controls {
    margin-top: 20px;
}

.what-say .owl-theme .owl-controls .owl-page span {
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.what-say .owl-theme .owl-controls .owl-page.active span,
.what-say .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: var(--danger);
}

/*End What-Customer-Say Section*/

/*Start Footer*/
footer {
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--footer-color);
    background-color: var(--footer-color-bg);
}

footer img {
    height: 125px;
}

/*End Footer*/
