/*Global Style*/
* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/*Start Header Section*/
header a {
    -webkit-transition: color ease-in-out 400ms;
    -moz-transition: color ease-in-out 400ms;
    -o-transition: color ease-in-out 400ms;
    transition: color ease-in-out 400ms;
}

body > header {
    font-size: 12px;
    padding: .5rem 10rem !important;
    background: #f2f2f2;
    color: #737373;
}

header a:hover {
    color: black;
}

header .register a:not(:last-child):after {
    content: '|';
    margin: auto 10px;
}

/*End Header Section*/

/*Start NavBar Section*/
.navbar-brand {
    font-weight: bold;
}

.navbar li {
    padding-left: 15px
}

/*End NavBar Section*/

/*Start Header Section*/
.header-section {
    position: relative;
    z-index: 0;
    /* background img inside header.php page */
    color: #fff;
    padding: 0;
}

.header-section:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 19, 20, 0.6);
}

.header-section p,
.header-section h1,
.header-section button {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header-section p {
    font-size: 15px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 200px;
}

.header-section h1 {
    margin-top: 31px;
    font-size: 42px;
    color: #ffffff;
    line-height: 48px;
    letter-spacing: 4px;
}

.header-section hr {
    width: 15%;
    height: 1px;
    margin: 31px auto;
    background: #fff;
}

.header-section button {
    cursor: pointer;
    background: transparent;
    color: #fff;
    padding: 10px 35px;
    margin-bottom: 200px;
    border: 3px solid #fff;
}

/*End Header Section*/

/*Start Services Section*/
.services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services .card {
    border: none
}

/*End Services Section*/

/*Start Footer*/
footer {
    color: #fff
}

/*End Footer*/
